:root{
    --dCyan: hsl(185, 75%, 39%);
    --vDBlue:hsl(229, 23%, 23%);
    --dGrayishBlue:hsl(227, 10%, 46%);
    --dGray:hsl(0, 0%, 59%);

}

body{
  margin: 0;
 background-color: var(--dCyan);
 font-family: 'Kumbh Sans', sans-serif;
}


.about{
    color:var(--dGray)
}
#name{
    font-weight: 700;
    margin-right: 5px;
}
#card{
    margin:auto;
   text-align:center;
filter:drop-shadow(0 5px 30px var(--dGrayishBlue));
    background-color: white;
border-radius: 15px;
}
#pfp{
    border-radius: 50%;
    border:solid 4px white;
    background: white;
   margin:auto;

}
.wrapper{
    background-image:url("images/bg-pattern-bottom.svg") , url("images/bg-pattern-top.svg")  ;
background-position:bottom -250px right -250px,
 top -200px left -250px;
 
 background-repeat: no-repeat,no-repeat;
height: 100vh;
width:100vw;
position:absolute;
}
#pfp-container{
    position: absolute;
   
    width:100%;
}
header{

  border-radius: 15px 15px 0 0;
    background-image: url("images/bg-pattern-card.svg");
}
.stats{
  display: flex;
  justify-content: space-around;

}
.val{
font-weight: 700;}
.stat{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
align-items: center;
}
.label{
 font-weight: 400;
 color: var(--dGray);

 font-size: 15px;
 letter-spacing: 1.5px;
}
.attribution{

position: absolute;
bottom:20px;

width: 100%;
}
#profile{
    position: relative;
}

@media(max-width:767px){
    .wrapper{
        background-image:url("images/bg-pattern-bottom.svg") , url("images/bg-pattern-top.svg")  ;
    background-position:bottom -250px right -250px,
     top -200px left -250px;
     background-size: 450px;
     background-repeat: no-repeat,no-repeat;
    height: 100vh;
    width:100vw;
    position:absolute;
    }
    #pfp-container{
        top:23%;     
    
    } 
    #card{  
   
        width:85%;
      max-width:300px;
      height: 350px; 
  
    }
    #card-wrapper{
        transform: translateY(25% );
        max-height: 500px;
    }
  
header{
    height: 25vh;
    max-height: 150px;
}
#profile{
  
    margin-top: 50px;
}
#pfp{
    width:80px
}
.label{
    margin-top: 10px;
}
.stats{
    margin-top: 20px;

}
}

@media screen   
and (min-width:767px){
    #card{
        width:35%;
        height:60vh;
        
        max-width: 300px;
    }
    #pfp{
        width:65px;
    }
    #pfp-container{
top:16vh;
    }
    header{
        height: 23vh;
        max-height: 200px;
    }
#card-wrapper{
    transform: translateY(35%);
    
}#profile{
margin-top: 50px;
margin-bottom: 2.5%;
}
.wrapper{
   
 background-size: 600px;
 background-repeat: no-repeat,no-repeat;
height: 100vh;
width:100vw;
position:absolute;
}


}
